# MySQL
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

# Redis
spring.data.redis.host=
spring.data.redis.port=
spring.data.redis.password=

# Seoul API Key
seoul.key=

# SSH Tunnel
ssh.host=
ssh.port=
ssh.username=
ssh.password=
ssh.remote.host=
ssh.remote.port=
ssh.local.port=
ssh.enabled=

# Redis Tunnel
ssh.redis.remote.host=
ssh.redis.remote.port=
ssh.redis.local.port=

# Google OAuth
spring.security.oauth2.client.registration.google.client-id=
spring.security.oauth2.client.registration.google.client-secret=
spring.security.oauth2.client.registration.google.scope=

# Naver OAuth
spring.security.oauth2.client.registration.naver.client-id=
spring.security.oauth2.client.registration.naver.client-secret=
spring.security.oauth2.client.registration.naver.client-authentication-method=
spring.security.oauth2.client.registration.naver.authorization-grant-type=
spring.security.oauth2.client.registration.naver.redirect-uri=
spring.security.oauth2.client.registration.naver.scope=
spring.security.oauth2.client.registration.naver.client-name=

spring.security.oauth2.client.provider.naver.authorization-uri=
spring.security.oauth2.client.provider.naver.token-uri=
spring.security.oauth2.client.provider.naver.user-info-uri=
spring.security.oauth2.client.provider.naver.user-name-attribute=

# Kakao OAuth
spring.security.oauth2.client.registration.kakao.client-id=
spring.security.oauth2.client.registration.kakao.client-secret=
spring.security.oauth2.client.registration.kakao.client-authentication-method=
spring.security.oauth2.client.registration.kakao.authorization-grant-type=
spring.security.oauth2.client.registration.kakao.redirect-uri=
spring.security.oauth2.client.registration.kakao.scope=
spring.security.oauth2.client.registration.kakao.client-name=

spring.security.oauth2.client.provider.kakao.authorization-uri=
spring.security.oauth2.client.provider.kakao.token-uri=
spring.security.oauth2.client.provider.kakao.user-info-uri=
spring.security.oauth2.client.provider.kakao.user-name-attribute=

# CORS
cors.allowed-origins=
cors.allowed-methods=
cors.allowed-headers=
cors.max-age=

# JWT
jwt.secret=

# App Custom Auth
app.auth.tokenSecret=
app.auth.tokenExpiry=
app.auth.refreshTokenExpiry=
app.oauth2.authorizedRedirectUris=